USE [master]
GO
/****** Object:  Database [HoneyWell_DB]    Script Date: 11/5/2018 12:41:20 PM ******/
CREATE DATABASE [HoneyWell_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HoneyWell_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER2016\MSSQL\DATA\HoneyWell_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HoneyWell_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER2016\MSSQL\DATA\HoneyWell_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HoneyWell_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HoneyWell_DB]
GO
USE [HoneyWell_DB]
GO
/****** Object:  Table [dbo].[Temperature]    Script Date: 11/5/2018 12:41:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temperature](
	[TempId] [int] IDENTITY(1,1) NOT NULL,
	[TempValue] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetTempDetails]    Script Date: 11/5/2018 12:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[GetTempDetails]
AS
BEGIN
SELECT TempValue,TempId FROM Temperature
END

GO
/****** Object:  StoredProcedure [dbo].[InsertTempDetails]    Script Date: 11/5/2018 12:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[InsertTempDetails]
@TempValue varchar(10)
AS
BEGIN
INSERT INTO Temperature(TempValue)
SELECT @TempValue
END

GO
USE [master]
GO
